html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
    background: #f83600;
    background: -webkit-linear-gradient(to top, #fe8c00, #f83600);
    background: linear-gradient(to top, #fe8c00, #f83600);
    color: white;
}

h1, h2 {
    text-align: center;
    color: white;
}

ul, .add-burger {
    text-align: center;
    list-style: none;
    background: url("../img/cork-board.png");
    padding: 20px;
    border-radius: 10px;
}

li, .form-group {
    text-align: left;
    background-color: rgba(20, 20, 20, 0.5);
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 10px;
    font-size: 24px;
    color: white;
}

li:last-child {
    margin-bottom: 0;
}

li .buttons {
    float: right;
    font-size: 14px;
}

button, #submit-button, input {
    background-color: black;
    color: white;
    border-radius: 5px;
    border: 0;
}